body {
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: #0189ce 3px solid;
    opacity: .8;
}

#home-section {
    background: url(/assets/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.4);
} 

#home-section .home-inner {
    padding-top: 150px
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.explore-section .fas {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}


.create-section, .explore-section, .share-section{
    padding: 150px 0;
}



.create-section .fas {
    background: #fff;
    color: #0189ce;
    padding: 5px;
    border-radius: 5px;
}


.explore-section, .share-section {
    background: #fff;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    padding: 150px 0;
}



#share-head-section  {
    color: #fff;
    background: #008ed6;
    padding: 5px;
    border-radius: 5px;
}
